body{
    max-width: 900px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    
}



header{
    height: 250px;
    text-align: center;
    
    
    padding-top: 125px;
    background-image: url(./images/BoutiqueServices_lp.jpg);
    background-size: cover;
    position: relative;
    z-index: 0;
    border: 2px solid black;

    }

.header-text{
    color: red;
    letter-spacing: 15px;
    font-weight: bold;
    
   
    font-size: 50px;
    font-style: italic;
        background-color: #ffffff;
        opacity: 0.6;
}

.hoodie{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    align-items: center;
    background: #0000004f;
    border: 2px solid black
 
}
.hoodie-image{
    width: 100px;
    height: 200px;;
}

.total-price{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-content: center;  
     
}

.Unity-price, .article_quantity, .total-price{
    text-align: center;
}


.cart-value{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    margin-right: 150px;
    text-decoration: underline;
}
.cart-value > p {
    padding: 0 7px;
}
.cart-value-value{
    display: flex;
}

.heart-emoticon{
    cursor: pointer;
}

.mystyle{
    color: red;
}

.TotalValue::after, .unity-price-value::after, #cart-value-value::after{
    content: ' $';
}

.btn-remove{
    border: 0;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;

}

.quantity{
    width: 20px;
    text-align: center;
    border: 0;
    background-color: #00000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.btn{
    text-align: center;
    border: 1;
    background-color: #00000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;


}


